@import 'tailwindcss';
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@theme {
  --color-primary: #FF8544;
  --color-background: #FFF8F0;
  --color-destructive: #FF4D4D;
  --color-foreground: #3A2E26;
}

@layer base {
  body {
    background-color: #FFF8F0;
    color: #3A2E26;
  }
}